@model ShoeShop.ModelView.ChangePasswordViewModel
@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div
  class="hero-wrap hero-bread"
  style="background-image: url('homeassets/images/bg_1.jpg')"
>
  <div class="container">

    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs">
        </p>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section ftco-cart">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 cart-wrap ftco-animate">
        <div class="cart-total mb-3">
           <div class="justify-content-center">
              <image src="@ViewBag.Avatar" style="border-radius: 100%;heigh:100px;width:100px;" />
              <h3 style="margin-top:20px;">Xin chào, <span class="font-weight-bold">@ViewBag.Name</span></h3>
           </div>
           <div class="justify-content-start">
               <a href="/thong-tin-ca-nhan">Thông tin cá nhân</a><br />
               <a href="/danh-sach-don-hang">Danh sách đơn hàng</a><br />
               <a href="/thay-doi-mat-khau">Thay đổi mật khẩu</a><br />
               <a href="/dang-xuat">Đăng xuất</a><br />
           </div>
        </div>
      </div>
      <div class="col-lg-7 cart-wrap ftco-animate">
        <div class="cart-total mb-3">
          <h3 class="font-weight-bold">Thay đổi mật khẩu</h3>
          <form asp-action="ChangePassword" method="post" class="info">
            <div class="form-group">
              <label for="">Mật khẩu hiện tại</label>
              <input
                type="password"
                class="form-control text-left px-3"
                asp-for="@Model.PasswordNow"
                required
              />
              <span asp-validation-for="PasswordNow" class="text-danger"></span>
              @if(ViewBag.Error != null){
                  <span class="text-danger">@ViewBag.Error</span>
               }
            </div> 
            <div class="form-group">
              <label for="country">Mật khẩu mới</label>
              <input
                type="password"
                class="form-control text-left px-3"
                asp-for="@Model.Password"
                required
              />
              <span asp-validation-for="Password" class="text-danger"></span>
              @if(ViewBag.Error2 != null){
                  <span class="text-danger">@ViewBag.Error2</span>
               }
            </div>
            <div class="form-group">
              <label for="country">Xác nhận mật khẩu mới</label>
              <input
                type="password"
                class="form-control text-left px-3"
                asp-for="@Model.ConfirmPassword"
                required
              />
              <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
              @if(ViewBag.Success != null){
                  <span class="text-success">@ViewBag.Success</span>
               }
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhập" class="btn btn-primary " />
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
