
@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ShoeShop.Models.Shipper>
@{
    int CurrentPage = ViewBag.CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
 <div class="card">
    <div class="row d-flex">
        <div style="padding-top: 1.5rem;" class="col-sm-2 ms-auto">
          <button onclick="location.href='@Url.Action("Create")'" class="btn btn-primary">
              <i class="fa-solid fa-plus"></i>&nbsp;Thêm mới</button>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
       <table class="table">
        <thead>
            <tr>
                <th>
                    Họ và tên
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Công ty
                </th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            @if(Model != null) {
                 @foreach (var item in Model)
                  {
                    <tr>
                        <td>
                              @item.ShipperName
                        </td>
                        <td>
                              @item.Phone
                        </td>
                        <td>
                              @item.Company
                        </td>
                        <td>
                             <a asp-action="Edit" asp-route-id="@item.ShipperId" class="btn btn-info">
                                  <i class="fa-solid fa-pen-to-square text-white" ></i></a>
                            <a asp-action="Delete" asp-route-id="@item.ShipperId" class="btn btn-danger">
                                  <i class="fa-solid fa-trash text-white" ></i></a>

                             <form id='@item.ShipperId' asp-action="Delete" asp-controller="AdminShippers" asp-route-id="@item.ShipperId" method="post" >
                                <input type="hidden" asp-for="@item.ShipperId" />
                            </form>
                        </td>
                    </tr>
                  }
            } 
        </tbody>
      </table>
    </div>

    <div class="row" style="margin-left: 1.5rem">
  <div class="col">
    <div class="demo-inline-spacing">
      <!-- Basic Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <pager class="page-item" list="@Model" asp-area="Admin" asp-controller="AdminShippers" asp-action="Index" />
        </ul>
      </nav>
      <!--/ Basic Pagination -->
    </div>
  </div>
</div>

  </div>